:root{

    --pri-nutmeg: hsl(14, 45%, 36%);
    --pri-dark-raspberry: hsl(332, 51%, 32%);
    
    --neu-white: hsl(0, 0%, 100%);
    --neu-rose-white: hsl(330, 100%, 98%);
    --neu-eggshell: hsl(30, 54%, 90%);
    --neu-light-grey: hsl(30, 18%, 87%);
    --neu-wenge-brown: hsl(30, 10%, 34%);
    --neu-dark-charcoal: hsl(24, 5%, 18%);   
    
    font-size: 16px;
    font-family: "Outfit",Arial, Helvetica, sans-serif;
}


body{
    margin: 0;
    box-sizing: border-box;
}

#card-container{
    background-color: var(--neu-white);
    width: 100%;
}

#card-container header img{
    width: 100%;
}

#card-container #content{
    margin: 1rem;
    margin-bottom: 2rem;
}

#content h1,h2{
    font-family: "Young Serif", Arial, Helvetica, sans-serif;
}

#content h1{
    color: var(--neu-dark-charcoal);
}

#content h2,h3{
    color: var(--pri-nutmeg);
}

#content p{
    color: var(--neu-wenge-brown);
}

#content #preparation-time{
    background-color: var(--neu-rose-white);
    padding: 1rem;
}

#preparation-time h3{
    margin: 0;
    margin-left: 22px;
    color: var(--pri-dark-raspberry);
}

#preparation-time ul li{
    padding-right: 4rem;
    color:var(--neu-wenge-brown)
}

#content ul li, ol li{
    color: var(--neu-wenge-brown);
    margin-bottom: 1rem;
}

#nutrition table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#nutrition table tr{
    border-bottom: 2px solid var(--neu-light-grey);
}

td{
    padding: 1rem;
}

#nutrition table tr td:nth-child(2){
    color: var(--pri-nutmeg);
    font-weight: 700;

}

#nutrition table tr:last-child{
    border-bottom: none;
}

.row-head{
    color: var(--neu-wenge-brown);
    padding-left: 2rem;
}

@media (min-width: 680px){

    body{
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: var(--neu-rose-white);
    }

    #card-container{
        max-width: 682px;
        margin: 5rem;
        border-radius: 1rem;
    }

    #card-container header{
        padding: 2rem;
        padding-bottom: 0;
    }

    #card-container header img{
        border-radius: 1rem;
    }

    #card-container #content{
        margin: 2rem;
        margin-top: 0;
    }
}

